  @if (isOpen) {
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ isEditing ? 'Editar Tienda' : 'Registrar Nueva Tienda' }}</h3>
        <button class="close-btn" (click)="onClose()">×</button>
      </div>
      
      <form [formGroup]="storeForm" (ngSubmit)="onSave()" class="store-form">

  <div class="form-group">
    <label>Nombre de la Tienda</label>
    <input type="text" formControlName="name" placeholder="Ej: Tienda Sur 1">
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Teléfono</label>
      <input type="text" formControlName="phoneNumber" placeholder="300...">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="correo@tienda.com">
      @if (storeForm.get('email')?.invalid && storeForm.get('email')?.touched) {
        <small class="error-text">Por favor, ingresa un correo válido.</small>
      }
    </div>
  </div>
  <!-- ADDRESS -->
  <fieldset formGroupName="address" class="address-section">

    <legend>Dirección</legend>

    <div class="form-group">
      <label>Calle/Avenida</label>
      <input type="text" formControlName="street" placeholder="Calle 10 #20-30">
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Localidad</label>
        <input type="text" formControlName="locality" placeholder="Chapinero">
      </div>

      <div class="form-group">
        <label>Ciudad</label>
        <input type="text" formControlName="city">
      </div>
    </div>

  </fieldset>

  <div class="modal-actions">
    <button type="button" class="btn-secondary" (click)="onClose()">Cancelar</button>

    <button type="submit" class="btn-save" [disabled]="storeForm.invalid">
      Guardar Tienda
    </button>
  </div>

</form>
    </div>
  </div>
}
